body { background: #eee url(images/bg.png) no-repeat fixed; }
footer {
  padding-bottom: 15px;
  background-color: #f9f9f9;
}
.modal-content { border-radius: 0;  }
.modal-footer { background-color: #eee; }
.bg-login {
  background: #333 url(images/bg-inicio-sesion.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.fa-icon-size { font-size: 32px; }
.fa-icon-size--medium { font-size: 24px; }
.fa-icon-size--small { font-size: 16px; }
.fa-rounded {
  background-color: #e74c3c;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 8px;
  color: #fff;
}
.fa-rounded--lg {
  width: 64px;
  height: 64px;
  line-height: 64px;
}
.fa-rounded--turquoise,
.bg-turquoise { background-color: #1abc9c; }
.fa-rounded--emerald,
.bg-emerald { background-color: #2ecc71; }
.fa-rounded--peter-river,
.bg-river { background-color: #3498db; }
.fa-rounded--amethyst,
.bg-amethyst { background-color: #9b59b6; }
.fa-rounded--wet-aslphalt,
.bg-aslphalt { background-color: #34495e; }
.fa-rounded--sun-flower,
.bg-flower { background-color: #f1c40f; }
.fa-rounded--carrot,
.bg-carrot { background-color: #e67e22; }
.fa-rounded--alizarin,
.bg-alizarin { background-color: #e74c3c; }
.fa-rounded--clouds,
.bg-clouds { background-color: #ecf0f1; }
.fa-rounded--concrete,
.bg-concrete { background-color: #95a5a6; }
.m0 { margin: 0; }
.p0 { padding: 0; }

.x-modal-header {
  background-image: url(images/bg.png);
  color: #ffffff;
}

.x-header { padding: 0; }
.x-navbar {
  min-height: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 18px 0;
  border: 0;
  background: #27ae60;
  /*background: -moz-linear-gradient(left, #59b25f 0%, #729919 100%);
  background: -webkit-linear-gradient(left, #59b25f 0%, #729919 100%);
  background: linear-gradient(to right, #59b25f 0%, #729919 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b25f', endColorstr='#729919', GradientType=1 );*/
}
.x-navbar .navbar-nav  > li > a {
  color: #eee;
  font-size: 12px;
}
.x-navbar .navbar-nav > .active > a,
.x-navbar .navbar-nav > .active > a:focus,
.x-navbar .navbar-nav > .active> a:hover {
  font-weight: bold;
  background-color: transparent;
}
.x-navbar .navbar-header .navbar-brand {
  height: auto;
  padding: 8px 15px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.x-navbar .x-navbar__menu a {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
}
.x-navbar .x-navbar__menu a .fa {
  display: block;
  font-size: 32px;
}
.x-navbar .x-navbar__menu a .badge {
  position: absolute;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid;
}

#courses-tutoring { height: 400px; }
#courses-tutoring .carousel-inner,
#courses-tutoring .carousel-inner .item { height: 100%; }
#courses-tutoring .carousel-control {
  width: 5%;
  background: none;
}
#courses-tutoring .carousel-control .glyphicon-chevron-left { margin-left: -15px; }
#courses-tutoring .carousel-control .glyphicon-chevron-right { margin-right: -15px; }
#courses-tutoring .carousel-indicators .fa-plus {
  text-indent: 0;
  border: 0;
  color: #fff;
}
#courses-tutoring .carousel-indicators .fa-plus.active { background-color: transparent; }
.course-tutoring {}
.course-tutoring__nav a {
  color: #fff;
  text-decoration: none;
}
.course-tutoring__nav .bg-orange { background-color: #e67e22; }
.course-tutoring__nav .bg-violet { background-color: #9b59b6; }

#nav-tools { margin: 8px 0; }
#nav-tools li { display: inline-block; }
#nav-tools a {
  color: #fff;
  text-decoration: none;
}

#ask {
  position: relative;
  background-color: #e2e4e7;
  margin-top: 90px;
  margin-bottom: 90px;
}
#ask:before,
#ask:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px;
  background-repeat: no-repeat;
}
#ask:before {
  top: -90px;
  background-image: url(images/diagonal-45.png);
  background-position: left top;
}
#ask:after {
  bottom: -90px;
  background-image: url(images/diagonal-45-invert.png);
  background-position: left bottom;
}

#appointment {
  position: relative;
  background-color: #fff;
  margin-top: 90px;
  margin-bottom: 90px;
}
#appointment:before,
#appointment:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px;
  background-repeat: no-repeat;
}
#appointment:before {
  top: -90px;
  background-image: url(images/diagonal-white-45.png);
  background-position: left top;
}
#appointment:after {
  bottom: -90px;
  background-image: url(images/diagonal-white-45-invert.png);
  background-position: left bottom;
}

#practice {
  position: relative;
  background-color: #e2e4e7;
  margin-top: 90px;
  margin-bottom: 90px;
}
#practice:before,
#practice:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px;
  background-repeat: no-repeat;
}
#practice:before {
  top: -90px;
  background-image: url(images/diagonal-45-flip.png);
  background-position: left top;
}
#practice:after {
  bottom: -90px;
  background-image: url(images/diagonal-45-invert.png);
  background-position: left bottom;
}
.course-tools .course-tool.last-child:after {
  background-image: none;
  background-color: inherit;
}
.course-tool__header {
  font-size: 24px;
  line-height: 1;
}
.course-tool__header .text-uppercase {
  font-size: 16px;
  font-weight: bold;
}

#hook-top {
  position: fixed;
  bottom: 54px;
  right: 20px;
  font-size: 32px;
  text-decoration: none;
}

/* appointment */
.datepicker-week {}
.datepicker-week__header {
  position: relative;
  padding: 4px 0;
}
.datepicker-week__header .pull-left {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.datepicker-week__header .pull-right {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.datepicker-week__header__title {
  position: absolute;
  top: 0;
  right: 36px;
  bottom: 0;
  left: 36px;
  line-height: 36px;
}
.datepicker-week__body { width: 100%; }
.datepicker-week__body tr td[headers] {
  width: 1%;
  padding: 16px 4px;
}
.datepicker-week__body tr td hr {
  margin-top: 7px;
  margin-bottom: 8px;
}
.datepicker-week__body tr td[role=button] {
  font-size: 9px;
  padding: 9px 0;
}
.datepicker-week__body tr td[role=button] span {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  font-size: 10px;
}
.datepicker-week__body tr td[role=button].active span {
  color: #fff;
  background-color: #3498db;
}
.datepicker-week__body tr td[role=button]:not(.active) span:hover { background-color: #eee; }

.tutors-appointments { padding: 64px 0; }
.tutors-appointments li { display: inline-block; }
.tutors-appointments li.active img { box-shadow: 0 0 6px #3498db; }
